* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    --colour1: #0e172a;
    --colour2: #00425e;
    --colour3: #007382;
    --colour4: #80d47c;
    --colour5: #fff;

    --nav-height: 100px;

    font-family: "t26-carbon", Arial;

    color: var(--colour5);
}

:root {
    --scroll: 0;

    scrollbar-width: none;
}

body {
    background-color: var(--colour2);
}

.cursor {
    position: fixed;
    top: 50%;
    left: 50%;

    height: 300px;
    aspect-ratio: 1;

    translate: -50% -50%;

    background-image: linear-gradient(var(--colour3), var(--colour4));
    border-radius: 50%;

    opacity: 0.5;

    animation: cursor 20s infinite;
}

.cursor-blur {
    position: fixed;
    inset: 0;

    backdrop-filter: blur(50px);
}

@keyframes cursor {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}