#navbar-toggle {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    height: var(--nav-height);

    display: flex;
    justify-content: space-between;

    padding: 0 3em;

    font-size: 1rem;

    opacity: calc(((max(var(--scroll), 50) - 50) / 50));

    z-index: 99;
}

nav .nav-overlay {
    position: fixed;
    inset: 0;

    background-color: #000;

    opacity: 0;

    pointer-events: none;

    transition: opacity 0.5s;
}

nav .pages {
    display: flex;
    align-items: center;
    gap: 3em;

    height: 100%;

    transition: translate 0.5s;
}

nav .pages .close-nav {
    display: none;

    font-size: 2em;
}

nav .pages a {
    text-decoration: none;

    font-size: 1.25em;
    color: transparent;

    position: relative;

    overflow: hidden;
}

nav .pages a:hover::before,
nav .pages a:hover::after {
    translate: 0 100%;
}

nav .pages a::before,
nav .pages a::after {
    content: attr(data-value);
    position: absolute;
    bottom: 100%;

    color: var(--colour5);

    transition: all 0.5s;
}

nav .pages a::after {
    left: 0;
    bottom: 0;
}

nav .nav-hamburger {
    display: none;

    font-size: 2em;
}

nav .socials {
    display: flex;
    align-items: center;
    gap: 1.5em;

    height: 100%;
}

nav .socials i {
    font-size: 1.25em;

    cursor: pointer;

    transition: scale 0.25s;
}

nav .socials i:hover {
    scale: 1.1;
}

#navbar-toggle:checked ~ nav {
    opacity: 1;
}

#navbar-toggle:checked ~ nav .pages {
    translate: 0;
}

#navbar-toggle:checked ~ nav .nav-overlay {
    opacity: 0.5;

    pointer-events: all;
}

@media (max-width: 650px) {
    nav {
        align-items: center;
    }

    nav .pages {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 300px;
        max-width: 100%;

        flex-direction: column;
        align-items: unset;
        justify-content: unset;

        padding: 2em;

        translate: 100% 0;

        background-color: var(--colour3);
    }

    nav .pages .close-nav {
        display: block;
    }

    nav .nav-hamburger {
        display: block;
    }
}